<h1>Admin Invoices Page</h1>

<% @invoices.each do |invoice| %>
  <div id="invoice-<%= invoice.id %>">
    <p>Invoice ID: <%=link_to invoice.id, admin_invoice_path(invoice) %></p>
    <p>Customer ID: <%= invoice.customer_id %></p>
    <p>Invoice status: <%= invoice.status %></p>
    <hr>
  </div>
<% end %>