<!-- app/views/shared/_header.html.erb -->
<div class="header-title">
  <h1>Little Esty Shop</h1>
</div>
<nav>
  <ul>
    <li><%= link_to 'Dashboard', '#' %></li>
    <li><%= link_to 'Merchants', '#' %></li>
    <li><%= link_to 'Invoices', '#' %></li>
  </ul>
</nav>
