<h1>Edit Merchant</h1>
<div id="update_merchant">
<%= render partial: 'merchant_form', locals: {
                                      url: admin_merchant_path(@merchant),
                                      method: :patch,
                                      button_text: 'Update' 
																	 } %>
</div>