<h1>Edit Item</h1>
<div id="update_attr">
<%= render partial: 'item_form', locals: {
                                      path: merchant_item_path,
                                      method: :patch,
                                      button_text: 'Update' 
																	 } %>
</div>
