<h1>New Item</h1>
<div id="new_item">
<%= render partial: 'item_form', locals: {
                                      url: merchant_items_path,
                                      method: :post,
                                      button_text: 'Submit' 
																	 } %>
</div>
