<h1><%= @merchant.name %></h1>
<div id="favorite_customers">
  <% @merchant.top_five_customers.each do |customer| %>
    <%= "#{customer.first_name} #{customer.last_name} - #{customer.successful_transactions_with_merchant(@merchant)} purchases"%>
  <% end %>
</div>
<%= link_to "Items Index", "merchants/:merchant_id/items" %>
<%= link_to "Invoices Index", "merchants/:merchant_id/invoices" %>